$background-one: #8b07fd;
$background-two: #6441e9;
$text-color-light: #fff;
$dashboard-hover: #f5f5f5;
$dashboard-hover-text: #5f47e6;
$dash-body-bg: #e5e5e5;
$white-bg: #fff;
$button: linear-gradient(162deg, $background-one 0%, $background-two 100%);
$background: #f5f5f5;
$main: #5f47e6;
$second: #ff9900;
