@import "./colors";
.Deposit-bg {
  background: $background;
}
.Deposit-btn {
  background: $button;
  border-radius: 25px;
  color: white;
  width: 201.09px;
  height: 48px;
  left: 1639.35px;
  top: 173px;
  margin-top: 30px;
  border: none;
  margin-right: 40px;
}
