@import "./colors";
.box-size {
  left: 19.77%;
  right: 3.15%;
  top: 23.88%;
  bottom: 4.39%;

  background: $white-bg;
  border-radius: 5px;
}
.btn-ads {
  width: 102.13px;
  height: 37.04px;
  top: 276.47px;
  left: 322.3px;
  border-radius: 55px;
  background: $button;
}
