@import "./colors";
.incentive-btn {
  background: $button;
  width: 216.45px;
  height: 48px;
  left: 1624px;
  top: 173px;
  border-radius: 55px;
}
.incentive-background {
  background: $background;
}
