@import "./colors";
.card-holder {
  text-align: center;
  width: 17rem;
  height: 17rem;
}
.icon-holder img {
  width: 100px;
  height: 100px;
  padding: 0.5rem;
  margin: 1rem;
}
.card-text-container {
  border: 1px solid $dash-body-bg;
  padding: 1.5rem;
  height: 50%;
}
.bg-main-blue {
  background-color: $main;
  color: white;
}
.bg-second-orange {
  background-color: $second;
  color: white;
}
