@import "./colors";

.withdraw-btn {
  background: $button;
  border-radius: 25px;
  color: white;
  width: 201.09px;
  height: 48px;
  left: 1639.35px;
  top: 173px;

  border: none;
  padding-top: 10px;
  // padding: 0.5rem 0.7rem;
}
.withdraw-btn:hover {
  background-color: $button;
}
.withdraw-btn a {
  text-decoration: none;
  font-weight: 700;
  // padding: 0.5rem 0.7rem;
  color: $text-color-light;
}
.withdraw-btn:hover a {
  color: $button;
  // padding: 0.5rem 0.7rem;
  /* background-color: red; */
}
.box {
  //   position: absolute;
  width: 1496px;
  height: 115px;
  left: 375px;
  top: 139px;
  border-radius: 10px;
  padding-top: 50px;
  background: $white-bg;
}
.dash-right-second-holder {
  margin: 0rem 0.1rem;
}
.dash-right-second-card {
  .right-second-card {
    background: $white-bg;
    transition: 0.3s;
    &:hover {
      background: $dashboard-hover-text;
      color: $text-color-light;
      cursor: pointer;
    }
  }
}
.btn-change {
  background: $button;
  width: 142.09px;
  height: 48px;
  left: 1528.25px;
  top: 509px;
  color: $text-color-light;
  border-radius: 25px;
  &:hover {
    color: $text-color-light;
  }
}
.for-background {
  background: $dash-body-bg;
  width: 1020px;
  height: 100px;
  left: 500px;
  top: 465px;
  border-radius: 10px;
  padding-left: 10px;
}
.btn-next {
  background: $button;
  width: 142.09px;
  height: 48px;
  left: 1528.25px;
  top: 509px;
  color: $text-color-light;
  border-radius: 25px;
  &:hover {
    color: $text-color-light;
  }
}
.btn-confirmWithdrawal {
  background: $button;
  width: 205.04px;
  height: 45.6px;
  left: 539.69px;
  top: 775.17px;
  border-radius: 25px;
}
.otpBox {
  width: 60px;
  height: 60px;
  // left: 1148px;
  // top: 554px;
}
.witdraw-background {
  background: $background;
}
.card-size {
  width: 600px;
  height: 172px;
  left: 1095px;
  top: 608px;
}
.main-background {
  background-color: $background;
}
