@import "./colors";

.withdraw-btn {
  background: $dashboard-hover-text;
  border-radius: 15px;
  color: white;
  height: 48px;
  width: 201.09px;

  border: none;
  padding: 0.5rem 0.7rem;
}
.withdraw-btn:hover {
  background-color: $dashboard-hover-text;
}
.withdraw-btn a {
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem 0.7rem;
  color: text-color-light;
}
.withdraw-btn:hover a {
  color: $text-color-light;
  padding: 0.5rem 0.7rem;
  /* background-color: red; */
}
.box {
  //   position: absolute;
  width: 1496px;
  height: 115px;
  left: 375px;
  top: 139px;
  border-radius: 10px;
  padding-top: 50px;
  background: $white-bg;
}
.dash-right-second-holder {
  margin: 0rem 0.1rem;
}
.dash-right-second-card {
  .right-second-card {
    background: $white-bg;
    transition: 0.3s;
    &:hover {
      background: $dashboard-hover-text;
      color: $text-color-light;
      cursor: pointer;
    }
  }
}
