
.home-main{
    background-image: url('../../../image/mainVactor.svg');
    min-height: 100vh;
    background-size:70%;
    background-repeat: no-repeat;
    background-position:top right; 

}




@media (max-width: 1200px){
    .home-main{
        background-image: url('../../../image/mainVactor.svg');
        
        min-height: 100vh;
        background-size:100%;
        background-repeat: no-repeat;
        background-position:top; 
 
 }
 .highlight{
    color: rgb(255, 255, 255);
}
}
@media (max-width: 600px){
    .home-main{
        background-size:200%;
    }

}