.withdraw-btn {
  background: #5f47e6;
  border-radius: 15px;
  color: white;
  height: 48px;
  width: 201.09px;

  border: none;
  padding: 0.5rem 0.7rem;
}
.withdraw-btn:hover {
  background-color: rgb(248, 152, 43);
}
.withdraw-btn a {
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem 0.7rem;
  color: white;
}
.withdraw-btn:hover a {
  color: white;
  padding: 0.5rem 0.7rem;
  /* background-color: red; */
}
